.App {
  margin: 0;
  padding:0;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  width: 200px;
  margin: 20px;
}
.search-place{
  display: flex;
  justify-content: center;
}

.search-form {
  position: relative;
  width: 50%;
  height: 20px;
  min-height: 70px;
}

.search-bar{
  width: 100%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  height: 40px;
  font-size: 20px;
 
}

.search-btn {
  position: absolute;
  top: 7px;
  right: 10px;
  height: 30px;
  border: none;
}

.images {
  max-width: 1800px;
  margin: 20px auto 10px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

